/* 
-- Responsiveness --
DONE: Make the cards font more responsive
DONE: Make the responsive design for mobile screens
DONE: Make the responsive design for wide screens

-- Colors and fonts --
DONE: Group the CSS using variables
TODO: Apply a different suitable color combination
TODO: Apply a suitable font

-- Themes and menu --
TODO: Hide the menu elements and make a hamburger menu transition
TODO: Make a dark theme
*/

:root {
  --accent-clr: rgb(247, 79, 79);
  --background-clr: white;
  --text-clr: black;
  --small-font-size: 1rem;
  --medium-font-size: 1.8rem;
  --big-font-size: 3.3rem;
}

body {
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: initial;
  text-decoration: none;
}

h1 {
  font-size: var(--big-font-size);
}

p {
  font-size: var(--small-font-size);
}

h1,
p,
ul {
  margin: 0;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin: 30px 40px;
  font-size: calc(var(--medium-font-size) - 0.5rem);
  font-weight: bold;
}

#theme-toggle {
  aspect-ratio: 1/1;
  border: 3px solid var(--text-clr);
  border-radius: 50%;
  background-color: var(--background-clr);
  font-size: calc(var(--medium-font-size) - 0.5rem);
  cursor: pointer;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0;
}

.bottom-header {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: space-between;
  margin: 0 clamp(24px, 6vw, 104px);
  gap: clamp(104px, 10vw, 208px);
}

.bottom-header img {
  display: block;
  height: auto;
  width: clamp(200px, 40vw, 500px);
  align-self: center;
}

.header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

#first-name {
  color: var(--accent-clr);
}

.header-info p {
  font-size: calc(var(--small-font-size) + 0.3rem);
}

.header-btns {
  display: flex;
  gap: 16px;
}

.header-info button {
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: var(--small-font-size);
  font-weight: bold;
  align-self: start;
  cursor: pointer;
}

#contact-me {
  background-color: var(--accent-clr);
  color: var(--background-clr);
}

#show-projects {
  background-color: white;
  outline: 2px solid var(--accent-clr);
  outline-offset: -2px;
  color: var(--accent-clr);
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  justify-items: center;
  padding: 50px clamp(16px, 5vw, 104px);
}

.cards {
  display: grid;
  max-width: 520px;
  background-color: var(--background-clr);
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 10px;
  border-radius: 8px;
  overflow: hidden;
}

.cards img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
}

.cards .upper {
  width: 100%;
}

.cards .lower {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
}

.name-nav {
  display: flex;
  justify-content: space-between;
}

.name-nav h1 {
  font-weight: lighter;
  font-size: var(--medium-font-size);
}

.name-nav .icons {
  display: flex;
  gap: 20px;
  font-size: calc(var(--medium-font-size) - 0.2rem);
  align-items: center;
}

.cards .description {
  color: rgb(148, 143, 143);
}

footer {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(56px, 7vw, 112px);
}

.footer.right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.address {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: var(--small-font-size);
}

.footer-links {
  display: flex;
  gap: 30px;
  font-size: var(--medium-font-size);
}

@media (min-width: 1921px) {
  main {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}

@media (max-width: 1340px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: clamp(2.3rem, 10vw, 3rem);
  }

  p {
    font-size: clamp(1rem, 2.5vw, 1.3rem);
  }

  .header-info p {
    font-size: clamp(1rem, 2.5vw, 1.3rem);
  }

  .bottom-header {
    flex-direction: column;
    justify-content: center;
    gap: 104px;
  }

  .bottom-header button {
    font-size: clamp(0.8rem, 2.5vw, 1.3rem);
  }

  footer {
    flex-direction: column;
  }
}

@media (max-width: 868px) {
  main {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .top-bar {
    font-size: 1.2rem;
  }

  .nav-links {
    gap: 16px;
  }
}

@media (max-width: 425px) {
  .top-bar {
    display: none;
  }

  .bottom-header {
    height: 100vh;
  }

  .header-info {
    gap: 32px;
  }

  .name-nav h1 {
    font-size: clamp(1.3rem, 7vw, 1.6rem);
  }

  .name-nav .icons {
    font-size: clamp(1.1rem, 5vw, 1.3rem);
  }
}
